:root {
  /* --background-color: #fffbf0;
  
  --accent-wall: #565656;
  --links: #24f9f9;
  --accent: #a1a7c8; */

  --background-color: #4f5263;
  --accent: #24f9f9;
  --links: #a1a7c8;
  --accent2: #6b9fed;
  --accent-text-color: #76323f;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.landing {
  height: 100vh;
  width: 100%;
  background: url(../images/mdek3.jpg);
  background-size: cover;
  background-position-y: 85%;
}

/* Center the Hero */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 5px;
}

.mdek {
  /* color: var(--accent); */
  color: var(--accent);
}

.workBtn {
  background-color: #f8f9fa;
  /* border: 1px solid #f8f9fa; */
  border: none;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 1.5rem;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}
.workBtn:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}
.workBtn:focus {
  border-color: #4285f4;
  outline: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.icon:hover {
  transform: scale(1.2);
}

/* !NAVBAR STYLES */
#nav {
  background-color: var(--accent-wall);
  border-bottom: 2px solid aquamarine;
}

#nav a {
  color: white;
  text-decoration: none;
}
.navbar a {
  font-size: 1.25rem;
}

/* ABOUT ME */
.namePlate {
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
  line-height: 1.5em;
  padding-bottom: 1rem;
  /* border: 2px solid red; */
}

.info1 {
  font-size: 5rem;
}

#about {
  /* background: var(--background-color); */
  height: 100vh;
  width: 100%;
}
