/* DOCUMENT STYLES */
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
}

.wrapper {
  border: 0.2rem solid green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.nameplate {
  border-right: 2px solid black;
  width: 200px;
  text-align: right;
  margin-right: 20px;
  padding-right: 5px;
}

/* HEADER/NAVIGATION STYLES */
nav {
  margin: auto 0;
}

.header-nameplate {
  font-size: 40px;
  margin: auto 0;
  padding-left: 60px;
  flex: 1;
}

.flex-nav ul {
  display: flex;
  flex: 1;
  border: 1px solid black;
  list-style: none;
}

.flex-nav ul li {
  display: flex;
}
.flex-nav a {
  flex: 1;
  color: black;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 5px;
  letter-spacing: 1.3px;
  /* margin: auto 0; */
}

.flex-nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* ABOUT ME STYLES */
article {
  display: flex;
}

.bio-copy {
  flex: 1;
  border: 2px solid orange;
}

/* WORK  */
.boxes {
  border: 2px solid aquamarine;
  padding: 20px;
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.project1 {
  flex: 80%;
  border: 2px solid blue;
  min-height: 500px;
  min-width: 500px;
  margin-bottom: 25px;
}

.project2,
.project3,
.project4,
.project5 {
  flex: 20%;
  border: 2px solid blue;
  min-height: 200px;
  min-width: 200px;
}

/* CONTACT STYLES */
footer h1 {
  font-size: 24px;
}

footer a {
  font-size: 20px;
}

/* MEDIA QUERIES */
@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }
}
